
* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-size: 1.0em;
    font-family: 'Operator Mono', 'Source Code Pro', Menlo, Monaco, Consolas, Courier New, monospace;
    position: fixed;
}

canvas {
    display: block;
    position: absolute;
}

.label-small {
    color: #9999FF;
    font-size: 1.0rem;
}

.title {
    font-size: 1.5rem;
}

.border {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    padding: 0.5em;
}

.node {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.vertical {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.horizontal {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.textbox {
    border: 1px black solid;
    width: 100%;
    height: 100%;
}

.item-0 {
    flex: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.item-1 {
    flex: 1;
    width: 100%;
    height: 100%;
    position: relative;
}

.item-2 {
    flex: 2;
    width: 100%;
    height: 100%;
    position: static;
}

.item-3 {
    flex: 3;
    width: 100%;
    height: 100%;
    position: static;
}

.item-4 {
    flex: 4;
    width: 100%;
    height: 100%;
    position: static;
}

.item-5 {
    flex: 5;
    width: 100%;
    height: 100%;
    position: static;
}

.item-6 {
    flex: 6;
    width: 100%;
    height: 100%;
    position: static;
}

.main {
    background: white;
    width: 100%;
    height: 100%;
    position: absolute;
}

.btn {
    width: 100%;
    cursor: pointer;
    border-top: #AAAAAA 1px solid;
    border-left: #AAAAAA 1px solid;
    border-bottom: black 1px solid;
    border-right: black 1px solid;
}

.btn:hover {
    text-underline: black;
}

.btn:active {
    border: inset 1px;
}

.pad {
    margin: 0.5em;
    padding: 0.25em;
    flex: 1
}

div {
    background: linear-gradient(45deg, #e66465, #9198e5);
}

canvas {
}