<!doctype html>
<html lang="en-US">
<head>
    <title>video</title>
    <meta name="apple-mobile-web-app-title" content="My game">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=0.2, maximum-scale=0.2, user-scalable=no"/>
    <meta name="HandheldFriendly" content="true"/>

    <script type="text/javascript">
        "use strict";

        var exports = {};

        window.onload = _init;

        function _init() {

            System.import('/static/main.js').then(function (main) {
                let canvas = document.getElementById('canvas');
                main.mainInit(canvas, canvas.getContext('2d'));
            });
        }
    </script>
    <script src="/static/system.js"></script>
    <script src="/static/vec2.js"></script>
    <script src="/static/main.js"></script>
    <script src="/static/level1.js"></script>
    <script>
    </script>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
<canvas id="canvas"></canvas>
</body>
</html>